.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
}

.quiz-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}