:root {
  --orange-200: #fed7aa;
  --orange-300: #fdba74;
  --orange-400: #fb923c;
  --orange-500: #f59e0b;
  --orange-600: #d97706;
  --orange-700: #c2410c;
  
  --gray-50: #f9fafb;
  --gray-800: #1f2937;
  --gray-950: #030712;
}

html, body {
  height: 100%;
  font-size: 16px;
}

body {
  background-color: var(--orange-200);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus {
  border: 0;
  box-shadow: 0;
}

